*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    max-width: 90%;
    background-color: #1a191b;
    padding: 15px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}
body{
    border: 4pt #56382D solid;
    background-color: #D57932;
}
.main, .sub, .third{
    margin-bottom: 15px;
}
.main{
    border: 3pt #56382D solid;
    background-color: #df793e;
}
.sub{
    border: 2pt #56382D solid;
    background-color: #e69769;
}
.third{
    border: 1pt #56382D solid;
    background-color: #edb594;
} 
.mother{
    display:flex;
    padding: 0px;
    border: 0px;
    background-color: #D57932;
} 
.flex-container{
    justify-content: space-around;
}
.flex-item{
    width: 100px;
    margin: 15px;
}
.one{
    width:36%;
    margin-right: 15px;
    height: 881px;
}
.two{
    width:62%;
    max-height: 881px;
}
.nav{
    height: 659px;
    text-align: center;
}