*{  box-sizing: border-box;  
    color: whitesmoke;
    background-color:#0d0e0f;       
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    text-decoration: solid;
    margin: 10px auto;
    /* border-style: solid;
    border-color: aqua; */
    padding: 5px;
}
body{
    width: 95%;
}
.text{
    background-color: #00000036;
}
.title{
    color: #86C232;
}
.main{
    font-size: x-large;
    text-align: center;
}
.sub{
    font-size: larger;
    
}
.banner{
    height: 110px;
    background-image: url(../images/lol\ banner.png);
    background-size: cover;
 }
.gameplay-container{
    display: flex;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.text1{
    width: 60%;
    margin: 5px;
}
.pic1{
    width: 40%;
    background-image: url(../images/rift.png);
    background-size: cover;
    background-position-x: center;
    margin: 5px;
}
a{
    height: fit-content;
    margin: auto;
    color: #86C232;
}
.nav-container{ 
    grid-auto-flow: row;
    grid-template-rows: auto auto auto auto auto;
    background: none;
    margin: auto;
}
.button{
    text-align: center;
    width:120px;
    height: 30px;
    padding: 2px;
    font-size: 12px;
    color: #86C232;
    border: 2px solid #86C232;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}
.button:hover{
    box-shadow: 0 2px 15px 0 #86C232 inset,
                0 2px 15px 0 #86C232; 
}
.btn5{
    grid-column-end: span 1;
}