*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 10px;
    max-width: 95%;
}
/* 
COLORS:
#0F1B07
#FFFFFF
#5C821A
#6CD166 
*/
body{
    background-color:#080f04;
}
header{
    width: 150px;
    border: 1pt #6CD166 solid;
}
#logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
nav{
    width: 90%;
    height:150px;
    border: 1pt #6CD166 solid;
}
table, article, footer{
    width: 90%;
    border: 1pt #6CD166 solid;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
}
.navis, .navis:active{
    text-decoration: none;
    color: #5C821A;
    display: inline-block;
    width: 140px;
    background-color: #11420e;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
}
.navis:hover{
    color:#11420e;
    background-color: #5C821A;
}
section{
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    padding: 10px;
    color: #6CD166;
}
.one, .two, .three{
    width: 90%;
}
.one{
    background-image: url("../images/SAO.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.two{
    background-image: url("../images/rift.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.three{
    background-image: url("../images/BIGMAC2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color: #182c0c;
}
h2{
    color:#6CD166;
}
p{
    color:#ffffff;
    text-align: left;
}
footer{
    color: #6CD166;
}
li{
    color:#ffffff;
    list-style-type: circle;
}
a:link{
    text-decoration: none;
    color: #6CD166;
}
a:visited{
    text-decoration: underline;
    color: #919b35;
}